@model OnlineStore.Models.WeatherViewModel

<h1>Väder</h1>

<div class="row">
    <div class="col-md-4">

        <form asp-action="GetWeather">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" asp-format="{0:N3}" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" asp-format="{0:N3}" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Ok" class="btn btn-default" />
            </div>

        </form>
        @if (Model.TimeTemps != null)
        {
            <h3>@Model.TimeTemps.Count</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tid</th>
                        <th>Temperatur</th>
                    </tr>
                </thead>
                @foreach (var timeTemp in Model.TimeTemps)
                {
                    <tr>
                        <td>@timeTemp.Time.ToString("HH:mm")</td>
                        <td>@timeTemp.Temp</td>
                    </tr>
                }

            </table>
        }
    </div>
</div>

