<!DOCTYPE html>
<html>
<head>
    <title>lab</title>
</head>
<body>

    <div id="app">

        {{🐼}}<br />
        {{firstname}}<br />

        <input type="number" v-model.number="animal.name">
        <button @click="increase(product)">🐼</button>
        <!--<input type="text" v-model="firstname" /><br />
        <input type="text" v-model="firstname" /><br />-->

        {{doubleword}}<br />
        {{loud}}<br />

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Duplicate.js"></script>

</body>
</html>